.customInput {
    border-radius: 20px !important;
    
}

.customBordRad {
    border-radius: 20px !important;
}

.customDiv {
    border: 1px solid black !important;
    border-radius: 20px !important;
    background-color: white !important;
}

.customBottomBorder {
    border-bottom: 1px solid black !important;
}